* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    text-align: center;
}

.logo h1 {
    font-size: 64px;
    color: #4285f4;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

.logo h1 span {
    color: #ea4335;
}

.search-bar {
    margin-top: 20px;
}

.search-input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
    transition: box-shadow 0.3s;
}

.search-input:focus {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: #4285f4;
}

.buttons {
    margin-top: 20px;
}

.btn {
    background-color: #f8f9fa;
    border: 1px solid #dfe1e5;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    color: #3c4043;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f1f3f4;
}

.btn:active {
    background-color: #e8eaed;
}

a {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

a:hover {
    background-color: #0056b3;
}